
<p id="notice"><%= notice %></p>

<p>
  <strong>Topic Name:</strong>
  <%= @topic.topicName %>
</p>

<% @posts =Post.where( :topic_id => @topic.id) %>
  <% @posts.order('created_at desc').each do |post| %>

    <%= link_to post do %>
      <div class="post-summary">
        <h3><%= post.name %></h3>
        Created  <%= time_ago_in_words(post.created_at, include_seconds: true )  %> ago.
        Views: <%= post.viewCount %> Comments: <%= post.commentCount %>. 
      </div>
    <% end %>
  <% end %>
</div>



<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', root_path %>
