
<div class="card-button">
    <%= link_to "Create A Post", new_post_path %>
</div>

    <% if current_user %>
        <div class="card-button">
            <%= link_to "Log Out", logout_path %>
        </div>

        <div class ="right-icon">
            <%=link_to current_user do%>
            <%= image_tag current_user.gravatar_url, :class => "gravatar" %>
            <% end %>
        </div>

    <% else %>
        <div class="right-icon">

            <%= link_to  login_path  do %>
                <img class ="gravatar" src="/logo-person-user-person-icon.jpg" alt="Log In" />
            <% end %>

        </div>
        

    <% end %>

      <h1>NEWS+ FORUM</h1>
