<% render 'navigation'%>

<p id="notice"><%= notice %></p>
<%= image_tag @user.gravatar_url, :class => "gravatar" %>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<div>
<% @posts =Post.where( :user_id => @user.id) %>
  <% @posts.order('created_at desc').each do |post| %>

    <%= link_to post do %>
      <div class="post-summary">
        <h3><%= post.name %></h3>
        Created  <%= time_ago_in_words(post.created_at, include_seconds: true )  %> ago.
        Views: <%= post.viewCount %> Comments: <%= post.commentCount %>. 
      </div>
    <% end %>
  <% end %>
</div>




<% if @user.username == current_user.username %>
  <%= link_to 'Edit', edit_user_path(@user) %> 
<% end %>
<%= link_to 'Back', root_path %>
<% end %>
<%= link_to 'Back', root_path %>
