<div class="main-posts">
<%# <%= @posts = Post.where(:topic_id = @topicfilter)%> 
<% if @tag_ids %>
    <%posts.clear()%>
    <% @tag_ids.each do |t|%>
        <% @posts >> @posts.where(:topic_id => t)%> 
   <% end %>
<% end %>
    <% @posts.order('created_at desc').each do |post| %>
        <div id="postsDiv">
            <div id="wrapper">
                <div class="post-card"> <%# Post - Card %>
                    <div class="card-icon">
                        <%= link_to @users.find(post.user_id) do %>
                        <%= image_tag @users.find(post.user_id).gravatar_url, :class => "gravatar" %>   
                        <% end %>
                    </div><%# END card-icon %>
                    <div class="card-content">
                        <%= link_to post do %>
                            <h3><%= post.name %></h3>
                        <% end %>
                        <div class="card-info">
                            <%= link_to @users.find(post.user_id) do %>
                            <%= post.author %>   
                            <% end %>
                            Created  <%= time_ago_in_words(post.created_at, include_seconds: true )  %> ago.
                            <%= @topics.find(post.topic_id).topicName %></h3> 
                        </div>
                        <div class="card-stats">
                            Views: <%= post.viewCount %> Comments: <%= post.comments.count %>. 
                        </div>
                    </div><%#END card-content  %>
                    <hr>
                </div><%#END Post Card %>
            </div>
        </div>
    <% end %>
</div>

