<div id="sideBar">

    <div class="sideItem">
        <div>Users</div>

        <table>
        <tbody>
            <% @users.each do |user| %>
                <%= link_to user do %>
                    <h3><%= user.username %></h3>
                    <%= image_tag  user.gravatar_url, :class => "gravatar" %>
                    <p> <%= user.phone %>. Created  <%= time_ago_in_words(user.created_at, include_seconds: true ) %> ago</p>
                <% end %>
                <hr>
            <% end %>
        </tbody>
        </table>
    </div>

    <div id='topicfilter'>
      <%= form_tag({:controller => 'posts', :action => 'selected'}, id: "selected-post")  %>
        <%= label_tag "A.I"%>
        <%= check_box_tag "A.I" %>
        <%= label_tag "A.R"%>
        <%= check_box_tag "A.R" %>
        <%= label_tag "Quantum"%>
        <%= check_box_tag "Quantum" %>
        <input type="submit" value="Selected Posts" form="selected-post">

    </div>


    <div class="sideItem">
      <div>LINKS</div>
      <table>
        <tbody>
          <tr>
            <a href="https://rubyonrails.org/">RAILS</a>
          </tr>
            <hr>
          <tr>
            <a href="https://www.rmit.edu.au/">RMIT</a>
          </tr>
        </tbody>
      </table>
    </div>

  </div>