<p id="notice"><%= notice %></p>
<div class="post-backdrop">
<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Comment Count:</strong>
  <%= @post.commentCount %>
</p>

<p>
  <strong>View Count:</strong>
  <%= @post.viewCount %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>

<%# only Poster Can Edit or Delete %>
<% if current_user %>
  <% if @post.author == current_user.username %>
  <%= link_to 'Edit', edit_post_path(@post) %> 
  <%= link_to 'Delete', deletePost_path(@post) %>
<% end %>
<% end %>

<%= link_to 'Back', root_path %>
</div>


